body{
    background-color: mintcream;

}
div[id ="loadtable"]{
    margin-top: 5%;
    margin-left: 5%;
    margin-right: 5%;
}
button{
    background-color: #c2262e;
    color: aliceblue; 
    margin-bottom: 2%;
    height: 30px;
}
input{
    margin-left: 16%;
    width: 40%;
    height: 30px;
}
h1 {
    text-align: center;
    margin-bottom: 5%;
}
